<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User Info</title>
</head>
<body>
    <h1>Delete User Whose Email is : <%= user.email %></h1>
    <form action="/user/<%=user.id%>?_method=DELETE" method="post">
        <input type="text" name="password" placeholder="enter password">
        <button>Submit</button>
    </form>
</body>
</html>