<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Info</title>
</head>
<body>
    <h1>Add New User Information</h1>
    <form method="post" action="/user/new">
        <input type="text" name="username" placeholder="enter username">
        <input type="text" name="email" placeholder="enter gmail">
        <input type="password" name="password" placeholder="enter password">
        <button>Submit</button>
    </form>
</body>
</html>